name: Main Branch CI

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Build, Test & Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run tests
        uses: ./.github/actions/test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
